/*-----------------------------*/
/*--------- CSS RESET ---------*/
/*-----------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-outfit);
  font-size: 0.93rem;
  font-weight: var(--fw-regular);
  line-height: 1.3;
  background-color: hsl(var(--clr-light-gray));
  color: hsl(var(--clr-primary));
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*-----------------------------*/
/*------- END CSS RESET -------*/
/*-----------------------------*/

:root {
  /* Colors */
  --clr-white: 0 0% 100%;
  --clr-black: 0 0% 0%;
  --clr-light-gray: 212 45% 89%;
  --clr-primary: 220 15% 55%;
  --clr-accent: 218 44% 22%;

  /* Typography */
  --ff-outfit: "Outfit", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 64rem;
  height: 100%;
}

.card {
  background-color: hsl(var(--clr-white));
  padding: 1em;
  border-radius: 18px;
  max-width: 19rem;
}

.card__header {
  border-radius: 9px;
  overflow: hidden;
}

.card__description {
  text-align: center;
  padding: 1.5em 0.8em;
}

.card__description__title {
  font-size: 1.3rem;
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-black));
}

.card__description__content {
  margin-top: 1em;
}
