*,
*::before,
*::after {
  box-sizing: content-box;
}

:root {
  /* colors */
  --clr-blue-50: hsl(225, 100%, 96%);
  --clr-blue-100: hsl(225, 100%, 94%);
  --clr-blue-600: hsl(245, 75%, 52%);
  --clr-blue-800: hsl(223, 47%, 23%);
  --clr-gray: hsl(224, 23%, 55%);
  --clr-white: hsl(225, 100%, 98%);

  /* typography */
  --ff-primary: "Red Hat Display", sans-serif;
  --ff-weight-regular: 500;
  --ff-weight-medium: 700;
  --ff-weight-bold: 900;
  --fs-body-small: 0.85rem;
  --fs-body-medium: 1rem;
  --fs-body-large: 1.75rem;
  --fs-heading-lvl1: 1.5rem;
  --fs-heading-lvl2: 1rem;
  --fc-primary: var(--clr-gray);
  --fc-interactive: var(--clr-blue-600);
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2 {
  color: var(--clr-blue-800);
  font-weight: var(--ff-weight-bold);
  line-height: 1.5rem;
}

h1 {
  font-size: var(--fs-heading-lvl1);
}

h2 {
  font-size: var(--fs-heading-lvl2);
}

body {
  height: 100vh;
  background-image: url("../images/pattern-background-mobile.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: var(--clr-blue-100);
  font-family: var(--ff-primary);
  font-weight: var(--ff-weight-regular);
  font-size: var(--fs-body-medium);
  color: var(--fc-primary);
}

main {
  height: 100%;
  display: grid;
  place-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--clr-blue-600);
  color: var(--clr-white);
  box-shadow: 0 4px 30px var(--clr-gray);
}

.btn-text {
  color: var(--clr-gray);
}

.btn-link {
  color: var(--clr-blue-600);
  text-decoration: underline;
  font-weight: var(--ff-weight-bold);
}

.btn-primary,
.btn-text {
  padding: 1em;
  font-weight: var(--ff-weight-bold);
  border-radius: 0.5em;
}

.btn-primary:hover,
.btn-link:hover {
  filter: brightness(1.25);
}

.btn-text:hover {
  color: var(--clr-blue-800);
}

.card {
  width: clamp(300px, 400px, 90%);
  border-radius: 1em;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  background-color: var(--clr-white);
  overflow: hidden;
}

.card-body {
  padding: 1.5em;
}

.card-body-desc {
  text-align: center;
}

.card-body-desc-text {
  margin-top: 1.5em;
}

.card-body-product {
  margin: 1.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-blue-50);
  padding: 1em;
  border-radius: 0.5em;
}

.card-body-product-item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.card-body-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

@media only screen and (min-width: 1440px) {
  body {
    background-image: url("../images//pattern-background-desktop.svg");
  }

  .card-body {
    padding: 2.5em;
  }
}
